{% set grid_size = theme_var('grid-size') %}

<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

<section class="section modular-details {{ page.header.class}} bg-gray">
    <section class="container {{ grid_size }}">
        {{ content|raw }}
        
        <div class="columns padding-s-top justify-center">
            {% for detail in page.header.details %}
                <div class="column col-4 col-md-12 padding-s center-headings">
                    <div class="v-center h-center h-center-text s-circle bg-blue detail-icon-size">
                        <i class="{{ detail.icon }}"></i>
                    </div>
                    <h4>{{ detail.title }}</h4>
                    <div>{{ detail.content }}</div>
                </div>
            {% endfor %}
        </div>
    </section>
</section>